.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5px;
}

.modal-content {
    /*max-height: 500px;*/
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 0.5rem;
    outline: 0;
}

.album-input input{
    margin-right: 10px;
}


.modal-body-wrapper {
    max-height: 400px; /* Adjust based on the height of your modal header and footer */
    overflow-y: auto;
}

/* Custom scrollbar styles */
.modal-body-wrapper::-webkit-scrollbar {
    width: 12px;
}

.modal-body-wrapper::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.modal-body-wrapper::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.modal-body-wrapper::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.modal-dialog-centered {
    display: flex;
    align-items: center;
    min-height: calc(100vh - 1rem);
}

.modal-dialog {
    display: flex;
    align-items: center;
    justify-content: center;
}

.album-input {
    margin-top: 10px;
}

.album-input img{
    width: 50px;            /* Desired width */
    height: 50px;           /* Desired height */
    object-fit: cover;      /* Ensures the image covers the area without distortion */
}