<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout.html}">
<body>
<div layout:fragment="content">
    <div th:replace="~{/Fragments/artist.info :: artist_info(${artist})}"></div>
    <div class="row-col">
        <div class="col-lg-9 b-r no-border-md">
            <div th:replace="~{/Fragments/artist.nav :: artist_nav(${artist})}"></div>
        </div>
        <div class="col-lg-3 w-xxl w-auto-md" th:if="${likes != null && !likes.isEmpty()}">
            <div th:insert="~{/Fragments/likes :: like_sidebar(${likes})}"></div>
        </div>
    </div>
</div>
<script th:src="@{/scripts/app.min.js}"></script>
</body>
</html>
