<!DOCTYPE html>
<html lang="en">
<head th:replace="Fragments/head :: head(Pluse)">
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<div class="app dk" id="app">
    <div id="content" class="app-content white bg box-shadow-z2" role="main">
        <div th:replace="/Fragments/header.html :: header_user"></div>
        <div th:replace="/Fragments/footer.html :: footer_user"></div>
        <div class="page-content">
            <div th:replace="/Fragments/artist.info :: artist_info(${artist_info})"></div>
            <div class="row-col">
                <div class="col-lg-9 b-r no-border-md">
                    <div th:replace="/Fragments/artist.nav :: artist_nav(${overviews}, ${tracks},${playlists},${profile})"></div>
                </div>
                <div class="col-lg-3 w-xxl w-auto-md" th:if="${likes != null && !likes.isEmpty()}">
                    <div th:insert="Fragments/likes :: like_sidebar(${likes})"></div>
                </div>
            </div>
        </div>
        <div th:replace="/Fragments/switcher.html :: switcher"></div>
        <div th:replace="/Fragments/search_modal.html :: search_modal"></div>
        <div th:replace="/Fragments/share_modal.html :: share_modal"></div>
    </div>
</div>
<script th:src="@{/scripts/app.min.js}"></script>
</body>
</html>
