<!DOCTYPE html>
<html lang="en">
<head th:replace="Fragments/head :: head(Pluse)">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="app dk" id="app">
    <div id="content" class="app-content white bg box-shadow-z2" role="main">
        <div th:replace="/Fragments/header.html :: header_user"></div>
        <div th:replace="/Fragments/footer.html :: footer_user"></div>
        <div class="app-body" id="view">
            <div class="page-content">
                <div class="row-col">
                    <div class="col-lg-9 b-r no-border-md" >
                        <div th:insert="Fragments/artists :: artists_content(${artists}, ${types}, ${zeroLike})"></div>
                    </div>
                    <div class="col-lg-3 w-xxl w-auto-md" th:if="${likes != null && !likes.isEmpty()}" >
                        <div th:insert="Fragments/likes :: like_sidebar(${likes})"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script th:src="@{/scripts/app.min.js}"></script>
</body>
</html>