<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout.html}">
<body>
<div layout:fragment="content">
    <div th:replace="~{/Fragments/profile.info :: profile_info(${profile})}"></div>
    <div class="row-col">
        <div th:replace="~{/Fragments/profile.nav :: profile_nav(${profile})}"></div>
        <div th:replace="~{/Fragments/likes :: like_sidebar(${likes})}"></div>
    </div>
    <div th:replace="~{/Fragments/upload_modal :: upload_modal}"></div>
</div>
<script th:src="@{/scripts/app.min.js}"></script>
</body>
</html>