<!DOCTYPE html>
<html lang="en">
<div class="row-col" th:fragment="album_music(album)">
    <div class="col-lg-9 b-r no-border-md">
        <div class="padding">
            <h6 class="m-b">
                <span class="text-muted">by</span>
                <a href="artist.detail.html" data-pjax class="item-author _600" th:text="${album.user.fullName}"></a>
                <span class="text-muted text-sm" th:text="${album.musics.size()} + ' song, ' + ${album.getFormatTime()}"></span>
            </h6>
            <div id="tracks" class="row item-list item-list-xs item-list-li m-b">
                <div class="col-xs-12" th:each="music : ${album.musics}">
                    <div class="item r" th:data-id="${music.id}" th:data-src="${music.mp3.url}">
                        <div class="item-media">
                            <a href="album.detail.html" class="item-media-content" th:style="'background-image: url(' + ${music.image.url} + ')'"></a>
                            <div class="item-overlay center">
                                <button class="btn-playpause">Play</button>
                            </div>
                        </div>
                        <div class="item-info">
                            <div class="item-overlay bottom text-right">
                                <a href="#" class="btn-favorite"><i class="fa fa-heart-o"></i></a>
                                <a href="#" class="btn-more" data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></a>
                                <div class="dropdown-menu pull-right black lt"></div>
                            </div>
                            <div class="item-title text-ellipsis">
                                <a href="album.detail.html" th:text="${music.title}"></a>
                            </div>
                            <div class="item-author text-sm text-ellipsis hide">
                                <a th:href="@{/artist_detail/{id}(id=${music.user.id})}" th:text="${music.user.fullName}" class="text-muted"></a>
                            </div>
                            <div class="item-meta text-sm text-muted">
                                <span class="item-meta-right" th:text="${music.getFormatTime()}"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h5 class="m-b">From Rachel</h5>
            <div class="row m-b">
                <div class="col-xs-6 col-sm-6 col-md-3">
                    <div class="item r" data-id="item-2" data-src="http://api.soundcloud.com/tracks/259445397/stream?client_id=a10d44d431ad52868f1bce6d36f5234c">
                        <div class="item-media">
                            <a href="album.detail.html" class="item-media-content" style="background-image: url('images/b1.jpg');"></a>
                            <div class="item-overlay center">
                                <button class="btn-playpause">Play</button>
                            </div>
                        </div>
                        <div class="item-info">
                            <div class="item-overlay bottom text-right">
                                <a href="#" class="btn-favorite"><i class="fa fa-heart-o"></i></a>
                                <a href="#" class="btn-more" data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></a>
                                <div class="dropdown-menu pull-right black lt"></div>
                            </div>
                            <div class="item-title text-ellipsis">
                                <a href="album.detail.html">Fireworks</a>
                            </div>
                            <div class="item-author text-sm text-ellipsis hide">
                                <a href="artist.detail.html" class="text-muted">Kygo</a>
                            </div>
                            <div class="item-meta text-sm text-muted">
                                    <span class="item-meta-stats text-xs">
                                        <i class="fa fa-play text-muted"></i> 30
                                        <i class="fa fa-heart m-l-sm text-muted"></i>
                                        10
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3">
                    <div class="item r" data-id="item-8" data-src="http://api.soundcloud.com/tracks/236288744/stream?client_id=a10d44d431ad52868f1bce6d36f5234c">
                        <div class="item-media">
                            <a href="album.detail.html" class="item-media-content" style="background-image: url('images/b7.jpg');"></a>
                            <div class="item-overlay center">
                                <button class="btn-playpause">Play</button>
                            </div>
                        </div>
                        <div class="item-info">
                            <div class="item-overlay bottom text-right">
                                <a href="#" class="btn-favorite"><i class="fa fa-heart-o"></i></a>
                                <a href="#" class="btn-more" data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></a>
                                <div class="dropdown-menu pull-right black lt"></div>
                            </div>
                            <div class="item-title text-ellipsis">
                                <a href="album.detail.html">Simple Place To Be</a>
                            </div>
                            <div class="item-author text-sm text-ellipsis hide">
                                <a href="artist.detail.html" class="text-muted">RYD</a>
                            </div>
                            <div class="item-meta text-sm text-muted">
                                    <span class="item-meta-stats text-xs">
                                        <i class="fa fa-play text-muted"></i> 400
                                        <i class="fa fa-heart m-l-sm text-muted"></i>
                                        220
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3">
                    <div class="item r" data-id="item-12" data-src="http://api.soundcloud.com/tracks/174495152/stream?client_id=a10d44d431ad52868f1bce6d36f5234c">
                        <div class="item-media">
                            <a href="album.detail.html" class="item-media-content" style="background-image: url('images/b11.jpg');"></a>
                            <div class="item-overlay center">
                                <button class="btn-playpause">Play</button>
                            </div>
                        </div>
                        <div class="item-info">
                            <div class="item-overlay bottom text-right">
                                <a href="#" class="btn-favorite"><i class="fa fa-heart-o"></i></a>
                                <a href="#" class="btn-more" data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></a>
                                <div class="dropdown-menu pull-right black lt"></div>
                            </div>
                            <div class="item-title text-ellipsis">
                                <a href="album.detail.html">Happy ending</a>
                            </div>
                            <div class="item-author text-sm text-ellipsis hide">
                                <a href="artist.detail.html" class="text-muted">Postiljonen</a>
                            </div>
                            <div class="item-meta text-sm text-muted">
                                    <span class="item-meta-stats text-xs">
                                        <i class="fa fa-play text-muted"></i> 860
                                        <i class="fa fa-heart m-l-sm text-muted"></i>
                                        240
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3">
                    <div class="item r" data-id="item-4" data-src="http://api.soundcloud.com/tracks/230791292/stream?client_id=a10d44d431ad52868f1bce6d36f5234c">
                        <div class="item-media">
                            <a href="album.detail.html" class="item-media-content" style="background-image: url('images/b3.jpg');"></a>
                            <div class="item-overlay center">
                                <button class="btn-playpause">Play</button>
                            </div>
                        </div>
                        <div class="item-info">
                            <div class="item-overlay bottom text-right">
                                <a href="#" class="btn-favorite"><i class="fa fa-heart-o"></i></a>
                                <a href="#" class="btn-more" data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></a>
                                <div class="dropdown-menu pull-right black lt"></div>
                            </div>
                            <div class="item-title text-ellipsis">
                                <a href="album.detail.html">What A Time To Be Alive</a>
                            </div>
                            <div class="item-author text-sm text-ellipsis hide">
                                <a href="artist.detail.html" class="text-muted">Judith Garcia</a>
                            </div>
                            <div class="item-meta text-sm text-muted">
                                    <span class="item-meta-stats text-xs">
                                        <i class="fa fa-play text-muted"></i> 320
                                        <i class="fa fa-heart m-l-sm text-muted"></i>
                                        20
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h5 class="m-b">Comments</h5>
            <div class="streamline m-b m-l">
                <div class="sl-item">
                    <div class="sl-left">
                        <img src="images/a0.jpg" alt="." class="img-circle" />
                    </div>
                    <div class="sl-content">
                        <div class="sl-author m-b-0">
                            <a href="#">Peter Joo</a>
                            <span class="sl-date text-muted">2 minutes ago</span>
                        </div>
                        <div><p>Check your Internet connection</p></div>
                        <div class="sl-footer">
                            <a href="#" data-toggle="collapse" data-target="#reply-1"><i class="fa fa-fw fa-mail-reply text-muted"></i> Reply</a>
                        </div>
                        <div class="box collapse m-a-0 b-a" id="reply-1">
                            <form>
                                <textarea class="form-control no-border" rows="3" placeholder="Type something..."></textarea>
                            </form>
                            <div class="box-footer clearfix">
                                <button class="btn btn-info pull-right btn-sm">
                                    Post
                                </button>
                                <ul class="nav nav-pills nav-sm">
                                    <li class="nav-item">
                                        <a class="nav-link" href="#"><i class="fa fa-camera text-muted"></i></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#"><i class="fa fa-video-camera text-muted"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sl-item">
                    <div class="sl-left">
                        <img src="images/a2.jpg" alt="." class="img-circle" />
                    </div>
                    <div class="sl-content">
                        <div class="sl-author m-b-0">
                            <a href="#">Moke</a>
                            <span class="sl-date text-muted">8:30</span>
                        </div>
                        <div>
                            <p>
                                Call to customer
                                <a href="#" class="text-primary">Jacob</a> and discuss the detail.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="sl-item">
                    <div class="sl-left">
                        <img src="images/a3.jpg" alt="." class="img-circle" />
                    </div>
                    <div class="sl-content">
                        <div class="sl-author m-b-0">
                            <a href="#">Moke</a>
                            <span class="sl-date text-muted">Sat, 5 Mar</span>
                        </div>
                        <blockquote>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante soe aiea ose dos soois.
                            </p>
                            <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
                        </blockquote>
                        <div class="sl-item">
                            <div class="sl-left">
                                <img src="images/a2.jpg" alt="." class="img-circle" />
                            </div>
                            <div class="sl-content">
                                <div class="sl-date text-muted">Sun, 11 Feb</div>
                                <p><a href="#" class="text-primary">Jessi</a> assign you a task <a href="#" class="text-primary">Mockup Design</a>.</p>
                            </div>
                        </div>
                        <div class="sl-item">
                            <div class="sl-left">
                                <img src="images/a5.jpg" alt="." class="img-circle" />
                            </div>
                            <div class="sl-content">
                                <div class="sl-date text-muted">Thu, 17 Jan</div>
                                <p>Follow up to close deal</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h5 class="m-t-lg m-b">Leave a comment</h5>
            <form>
                <div class="form-group row">
                    <div class="col-sm-6"><label>Your name</label><input type="text" class="form-control" placeholder="Name" /></div>
                    <div class="col-sm-6"><label>Email</label><input type="email" class="form-control" placeholder="Enter email" /></div>
                </div>
                <div class="form-group"><label>Comment</label><textarea class="form-control" rows="5" placeholder="Type your comment"></textarea></div>
                <div class="form-group">
                    <button type="submit" class="btn btn-sm white rounded">
                        Submit comment
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-lg-3 w-xxl w-auto-md">
        <div class="padding" style="bottom: 60px;" data-ui-jp="stick_in_parent">
            <h6 class="text text-muted">5 Likes</h6>
            <div class="row item-list item-list-sm m-b">
                <div class="col-xs-12">
                    <div class="item r" data-id="item-3" data-src="http://api.soundcloud.com/tracks/79031167/stream?client_id=a10d44d431ad52868f1bce6d36f5234c">
                        <div class="item-media">
                            <a href="album.detail.html" class="item-media-content" style="background-image: url('images/b2.jpg');"></a>
                        </div>
                        <div class="item-info">
                            <div class="item-title text-ellipsis">
                                <a href="album.detail.html">I Wanna Be In the Cavalry</a>
                            </div>
                            <div class="item-author text-sm text-ellipsis">
                                <a href="artist.detail.html" class="text-muted">Jeremy Scott</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="item r" data-id="item-6" data-src="http://api.soundcloud.com/tracks/236107824/stream?client_id=a10d44d431ad52868f1bce6d36f5234c">
                        <div class="item-media">
                            <a href="album.detail.html" class="item-media-content" style="background-image: url('images/b5.jpg');"></a>
                        </div>
                        <div class="item-info">
                            <div class="item-title text-ellipsis">
                                <a href="album.detail.html">Body on me</a>
                            </div>
                            <div class="item-author text-sm text-ellipsis">
                                <a href="artist.detail.html" class="text-muted">Rita Ora</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="item r" data-id="item-5" data-src="http://streaming.radionomy.com/JamendoLounge">
                        <div class="item-media">
                            <a href="album.detail.html" class="item-media-content" style="background-image: url('images/b4.jpg');"></a>
                        </div>
                        <div class="item-info">
                            <div class="item-title text-ellipsis">
                                <a href="album.detail.html">Live Radio</a>
                            </div>
                            <div class="item-author text-sm text-ellipsis">
                                <a href="artist.detail.html" class="text-muted">Radionomy</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="item r" data-id="item-7" data-src="http://api.soundcloud.com/tracks/245566366/stream?client_id=a10d44d431ad52868f1bce6d36f5234c">
                        <div class="item-media">
                            <a href="album.detail.html" class="item-media-content" style="background-image: url('images/b6.jpg');"></a>
                        </div>
                        <div class="item-info">
                            <div class="item-title text-ellipsis">
                                <a href="album.detail.html">Reflection (Deluxe)</a>
                            </div>
                            <div class="item-author text-sm text-ellipsis">
                                <a href="artist.detail.html" class="text-muted">Fifth Harmony</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="item r" data-id="item-12" data-src="http://api.soundcloud.com/tracks/174495152/stream?client_id=a10d44d431ad52868f1bce6d36f5234c">
                        <div class="item-media">
                            <a href="album.detail.html" class="item-media-content" style="background-image: url('images/b11.jpg');"></a>
                        </div>
                        <div class="item-info">
                            <div class="item-title text-ellipsis">
                                <a href="album.detail.html">Happy ending</a>
                            </div>
                            <div class="item-author text-sm text-ellipsis">
                                <a href="artist.detail.html" class="text-muted">Postiljonen</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h6 class="text text-muted">Go mobile</h6>
            <div class="btn-groups">
                <a href="#" class="btn btn-sm dark lt m-r-xs" style="width: 135px;">
                    <span class="pull-left m-r-sm"><i class="fa fa-apple fa-2x"></i></span> <span class="clear text-left l-h-1x"><span class="text-muted text-xxs">Download on the</span> <b class="block m-b-xs">App Store</b></span>
                </a>
                <a href="#" class="btn btn-sm dark lt" style="width: 133px;">
                    <span class="pull-left m-r-sm"><i class="fa fa-play fa-2x"></i></span> <span class="clear text-left l-h-1x"><span class="text-muted text-xxs">Get it on</span> <b class="block m-b-xs m-r-xs">Google Play</b></span>
                </a>
            </div>
            <div class="b-b m-y"></div>
            <div class="nav text-sm _600">
                <a href="#" class="nav-link text-muted m-r-xs">About</a>
                <a href="#" class="nav-link text-muted m-r-xs">Contact</a>
                <a href="#" class="nav-link text-muted m-r-xs">Legal</a>
                <a href="#" class="nav-link text-muted m-r-xs">Policy</a>
            </div>
            <p class="text-muted text-xs p-b-lg">&copy; Copyright 2016</p>
        </div>
    </div>
</div>
</html>
