<!DOCTYPE html>
<html lang="en">
<div class="padding b-b" th:fragment="artist_info(artist)">
    <div class="row-col">
        <div class="col-sm w w-auto-xs m-b">
            <div class="item w rounded">
                <div class="item-media">
                    <div class="item-media-content" th:style="'background-image: url(' + ${artist.avatarUrl} + ')'"></div>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="p-l-md no-padding-xs">
                <div class="page-title">
                    <h1 class="inline" th:text="${artist.fullname}"></h1>
                    <label class="fa fa-star text-primary text-lg m-b v-m m-l-xs" title="Pro"></label>
                </div>
                <p class="item-desc text-ellipsis text-muted" data-ui-toggle-class="text-ellipsis" th:if="${artist.bio != null || artist.bio != ''}" th:text="${artist.bio}"></p>
                <div class="item-action m-b">
                    <a class="btn btn-icon white rounded btn-share pull-right" data-toggle="modal" data-target="#share-modal"><i class="fa fa-share-alt"></i></a>
                    <button class="btn-playpause text-primary m-r-sm"></button>
                    <span th:text="${artist.albums.size()} + ' Albums, ' + ${artist.tracks.size()} + ' Tracks'"></span>
                </div>
                <div class="block clearfix m-b" th:each="type : ${artist.types}">
                    <a class="btn btn-xs rounded white" th:text="${type.typeName}"></a>
                </div>
            </div>
        </div>
    </div>
</div>
</html>