<!DOCTYPE html>
<html lang="en">
<div th:fragment="artist_popular(populars)" class="row item-list item-list-md item-list-li m-b" id="tracks">
    <div class="col-md-12 col-lg-6" th:each="popular : ${populars}">
        <div class="item r" th:data-id="${popular.id}" th:data-src="${popular.mp3.url}">
            <div class="item-media">
                <a href="../Layouts/Home/album.detail.html" class="item-media-content" th:style="'background-image: url(' + ${popular.image.url} + ')'"></a>
                <div class="item-overlay center">
                    <button class="btn-playpause">Play</button>
                </div>
            </div>
            <div class="item-info">
                <div class="item-overlay bottom text-right">
                    <a href="#" class="btn-favorite"><i class="fa fa-heart-o"></i></a>
                    <a href="#" class="btn-more" data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></a>
                    <div class="dropdown-menu pull-right black lt"></div>
                </div>
                <div class="item-title text-ellipsis">
                    <a href="../Layouts/Home/album.detail.html" th:text="${popular.title}"></a>
                </div>
                <div class="item-author text-sm text-ellipsis hide">
                    <a th:href="@{/artist_detail/{id}(id=${popular.user.id})}" class="text-muted" th:text="${popular.user.fullName}"></a>
                </div>
                <div class="item-meta text-sm text-muted">
                    <span class="item-meta-stats text-xs">
                        <i class="fa fa-play text-muted" th:text="' ' + ${popular.playCount} + ' ' "></i>
                        <i class="fa fa-heart m-l-sm text-muted" th:text="' ' + ${popular.heartCount} + ' ' "></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
</html>
