<!DOCTYPE html>
<html lang="en">
<div class="tab-pane" id="tab_2" th:fragment="artist_track(tracks)">
    <div class="row m-b">
        <div class="col-xs-4 col-sm-4 col-md-3" th:each="track : ${tracks}">
            <div class="item r" data-id="item-3" th:data-src="${track.mp3.url}">
                <div class="item-media">
                    <a href="track.detail.html" class="item-media-content" th:style="'background-image: url(' + ${track.image.url} + ')'"></a>
                    <div class="item-overlay center">
                        <button class="btn-playpause">Play</button>
                    </div>
                </div>
                <div class="item-info">
                    <div class="item-overlay bottom text-right">
                        <a href="#" class="btn-favorite"><i class="fa fa-heart-o"></i></a>
                        <a href="#" class="btn-more" data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></a>
                        <div class="dropdown-menu pull-right black lt"></div>
                    </div>
                    <div class="item-title text-ellipsis">
                        <a href="track.detail.html" th:text="${track.title}"></a>
                    </div>
                    <div class="item-author text-sm text-ellipsis hide">
                        <a th:href="@{/artist_detail/{id}(id=${track.user.id})}" class="text-muted" th:text="${track.user.fullName}"></a>
                    </div>
                    <div class="item-meta text-sm text-muted">
                            <span class="item-meta-stats text-xs">
                                <i class="fa fa-play text-muted" th:text="' ' + ${track.playCount} + ' ' "></i>
                                <i class="fa fa-heart m-l-sm text-muted" th:text="' ' + ${track.heartCount} + ' ' "></i>
                            </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="btn btn-sm white rounded">Show More</a>
</div>
</html>
