<!DOCTYPE html>
<html lang="en">
<div class="padding" th:fragment="artist_nav(artist)">
    <div class="nav-active-border b-primary bottom m-b-md">
        <ul class="nav l-h-2x">
            <li class="nav-item m-r inline">
                <a class="nav-link active" href="#" data-toggle="tab" data-target="#tab_1">Overview</a>
            </li>
            <li class="nav-item m-r inline">
                <a class="nav-link" href="#" data-toggle="tab" data-target="#tab_2">Tracks</a>
            </li>
            <li class="nav-item m-r inline">
                <a class="nav-link" href="#" data-toggle="tab" data-target="#tab_3">Playlists</a>
            </li>
        </ul>
    </div>
    <div class="tab-content">
        <div th:replace="~{/Fragments/artist.overview :: artist_overview(${artist.populars}, ${artist.albums})}"></div>
        <div th:replace="~{/Fragments/artist.track :: artist_track(${artist.tracks})}"></div>
        <div th:replace="~{/Fragments/artist.playlist :: artist_playlist(${artist.playlists})}"></div>
    </div>
</div>
</html>