<!DOCTYPE html>
<html lang="en">
<div class="padding b-b" th:fragment="artist_info(artist_info)">
    <div class="row-col">
        <div class="col-sm w w-auto-xs m-b">
            <div class="item w rounded">
                <div class="item-media">
                    <div class="item-media-content" style="background-image: url('images/b5.jpg');"></div>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="p-l-md no-padding-xs">
                <div class="page-title">
                    <h1 class="inline">Rachel Platten</h1>
                    <label class="fa fa-star text-primary text-lg m-b v-m m-l-xs" title="Pro"></label>
                </div>
                <p class="item-desc text-ellipsis text-muted" data-ui-toggle-class="text-ellipsis">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quamquam tu hanc copiosiorem etiam soles dicere. Nihil illinc huc pervenit. Verum hoc idem saepe faciamus. Quid ad utilitatem tantae pecuniae?
                    Utram tandem linguam nescio? Sed hoc sane concedamus.
                </p>
                <div class="item-action m-b">
                    <a class="btn btn-icon white rounded btn-share pull-right" data-toggle="modal" data-target="#share-modal"><i class="fa fa-share-alt"></i></a>
                    <button class="btn-playpause text-primary m-r-sm"></button>
                    <span>9 Albums, 105 Tracks</span>
                </div>
                <div class="block clearfix m-b">
                    <a class="btn btn-xs rounded white">Soul</a>
                    <a class="btn btn-xs rounded white">Electro</a>
                </div>
            </div>
        </div>
    </div>
</div>
</html>