<!DOCTYPE html>
<html lang="en">
<div class="col-lg-9 b-r no-border-md" th:fragment="artists_content(charts, types, zeroLike)">
    <div class="padding">
        <div class="page-title m-b">
            <h1 class="inline m-a-0">Charts</h1>
            <div class="dropdown inline">
                <button class="btn btn-sm no-bg h4 m-y-0 v-b dropdown-toggle text-primary" data-toggle="dropdown">
                    Last week
                </button>
                <div class="dropdown-menu">
                    <a href="#" class="dropdown-item active">Last week</a>
                    <a href="#" class="dropdown-item">Last month</a>
                    <a href="#" class="dropdown-item">Last year</a>
                    <a href="#" class="dropdown-item">All the time</a>
                </div>
            </div>
        </div>
        <div class="row item-list item-list-md item-list-li m-b">
            <div class="col-xs-12" th:each="chart : ${charts}">
                <div class="item r" th:data-id="${chart.id}" data-src="http://api.soundcloud.com/tracks/236288744/stream?client_id=a10d44d431ad52868f1bce6d36f5234c">
                    <div class="item-media">
                        <a class="item-media-content" th:style="'background-image: url(' + ${chart.image.url} + ')'"> ></a>
                        <div class="item-overlay center">
                            <button class="btn-playpause">Play</button>
                        </div>
                    </div>
                    <div class="item-info">
                        <div class="item-overlay bottom text-right">
                            <a href="#" class="btn-favorite"><i class="fa fa-heart-o"></i></a>
                            <a href="#" class="btn-more" data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></a>
                            <div class="dropdown-menu pull-right black lt"></div>
                        </div>
                        <div class="item-title text-ellipsis">
                            <a th:text="${chart.title}"></a>
                        </div>
                        <div class="item-author text-sm text-ellipsis">
                            <a th:href="@{/artist_detail/{id}(id=${chart.user.id})}" class="text-muted" th:text="${chart.user.fullName}"></a>
                        </div>
                        <div class="item-meta text-sm text-muted">
                            <span class="item-meta-stats text-xs item-meta-right">
                                <i class="fa fa-play text-muted" th:text="${chart.playCount}"></i>
                                <i class="fa fa-heart m-l-sm text-muted" th:text="' ' + ${chart.heartCount}"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>
