<!DOCTYPE html>
<html lang="en">
<nav class="sidebar">
    <div class="logo d-flex justify-content-between">
        <a class="large_logo" th:href="@{/dashboard}"><img alt th:src="@{/images/logo.png}" /></a>
        <a class="small_logo" th:href="@{/dashboard}"><img alt th:src="@{/images/logo.png}" /></a>
        <div class="sidebar_close_icon d-lg-none">
            <i class="ti-close"></i>
        </div>
    </div>
    <ul id="sidebar_menu">
        <h4 class="menu-text"><span>TABLE</span> <i class="fas fa-ellipsis-h"></i></h4>
        <li class>
            <a aria-expanded="false" class="has-arrow" href="#">
                <div class="nav_icon_small">
                    <img alt th:src="@{/img/menu-icon/11.svg}" />
                </div>
                <div class="nav_title">
                    <span>Data table</span>
                </div>
            </a>
            <ul>
                <li><a th:href="@{/dashboard/user_table}">User</a></li>
                <li><a th:href="@{/dashboard/music_table}">Music</a></li>
                <li><a th:href="@{/dashboard/music_type_table}">Music type</a></li>
                <li><a th:href="@{/dashboard/album_table}">Album</a></li>
            </ul>
        </li>
    </ul>
</nav>
</html>
