<!DOCTYPE html>
<html lang="en">
<div class="tab-pane" id="album" th:fragment="profile_album(albums)">
    <div class="row m-b" >
        <div class="col-xs-4 col-sm-4 col-md-3" th:each="album : ${albums}">
            <div class="item r" th:data-id="${album.musics.getFirst().id}" th:data-src="${album.musics.getFirst().mp3.url}">
                <div class="item-media">
                    <a th:href="@{/album/{id}(id=${album.id})}" class="item-media-content" th:style="'background-image: url(' + ${album.image.url} + ')'"></a>
                    <div class="item-overlay center">
                        <button class="btn-playpause">Play</button>
                    </div>
                </div>
                <div class="item-info">
                    <div class="item-overlay bottom text-right">
                        <a href="#" class="btn-favorite"><i class="fa fa-heart-o"></i></a>
                        <a href="#" class="btn-more" data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></a>
                        <div class="dropdown-menu pull-right black lt"></div>
                    </div>
                    <div class="item-title text-ellipsis">
                        <a href="../Layouts/Home/album.detail.html" th:text="${album.title}"></a>
                    </div>
                    <div class="item-author text-sm text-ellipsis hide">
                        <a href="artist.detail.html" class="text-muted" th:text="${album.user.fullName}"></a>
                    </div>
                    <div class="item-meta text-sm text-muted">
                        <span class="item-meta-stats text-xs">
<!--                            <i class="fa fa-play text-muted" th:text="${album.playCount}"></i>-->
<!--                            <i class="fa fa-heart m-l-sm text-muted" th:text="${album.heartCount}"></i>-->
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>