<!DOCTYPE html>
<html lang="en">
<div class="tab-pane" id="playlist" th:fragment="profile_playlist(playlists)">
    <div class="row m-b" th:each="playlist : ${playlists}">
        <div class="col-xs-4 col-sm-4 col-md-3">
            <div class="item r" th:data-id="${playlist.id}" th:data-src="${playlist.mp3.url}">
                <div class="item-media">
                    <a href="../Layouts/Home/album.detail.html" class="item-media-content" th:style="'background-image: url(' + ${playlist.image.url} + ')'"></a>
                    <div class="item-overlay center">
                        <button class="btn-playpause">Play</button>
                    </div>
                </div>
                <div class="item-info">
                    <div class="item-overlay bottom text-right">
                        <a href="#" class="btn-favorite"><i class="fa fa-heart-o"></i></a>
                        <a href="#" class="btn-more" data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></a>
                        <div class="dropdown-menu pull-right black lt"></div>
                    </div>
                    <div class="item-title text-ellipsis">
                        <a th:text="${playlist.title}"></a>
                    </div>
                    <div class="item-author text-sm text-ellipsis hide">
                        <a href="artist.detail.html" class="text-muted" th:text="${playlist.user.fullName}"></a>
                    </div>
                    <div class="item-meta text-sm text-muted">
                        <span class="item-meta-stats text-xs">
                            <i class="fa fa-play text-muted" th:text="${playlist.playCount}"></i>
                            <i class="fa fa-heart m-l-sm text-muted" th:text="${playlist.heartCount}"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>