<!DOCTYPE html>
<html lang="en">
<div class="col-lg-9 b-r no-border-md" th:fragment="profile_nav(profile)">
  <div class="padding p-y-0 m-b-md">
    <div class="nav-active-border b-primary bottom m-b-md m-t">
      <ul class="nav l-h-2x" data-ui-jp="taburl">
        <li class="nav-item m-r inline">
          <a class="nav-link active" href="#" data-toggle="tab" data-target="#track" th:if="${#authentication.principal.isAdminOrArtist()}">Tracks</a>
        </li>
        <li class="nav-item m-r inline">
          <a class="nav-link" href="#" data-toggle="tab" data-target="#playlist">Playlists</a>
        </li>
        <li class="nav-item m-r inline">
          <a class="nav-link" href="#" data-toggle="tab" data-target="#album" th:if="${#authentication.principal.isAdminOrArtist()}">Albums</a>
        </li>
        <li class="nav-item m-r inline">
          <a class="nav-link" href="#" data-toggle="tab" data-target="#like">Likes</a>
        </li>
      </ul>
    </div>
    <div class="tab-content">
      <div th:replace="~{/Fragments/profile.track :: profile_track(${tracks})}" th:if="${#authentication.principal.isAdminOrArtist()}"></div>
      <div th:replace="~{/Fragments/profile.playlist :: profile_playlist(${playlists})}"></div>
      <div th:replace="~{/Fragments/profile.album :: profile_album(${albums})}" th:if="${#authentication.principal.isAdminOrArtist()}"></div>
      <div th:replace="~{/Fragments/profile.like :: profile_like(${likes})}"></div>
    </div>
  </div>
</div>
<div class="col-lg-3 w-xxl w-auto-md">
  <div class="padding" style="bottom: 60px;" data-ui-jp="stick_in_parent">
    <h6 class="text text-muted">5 Likes</h6>
    <div class="row item-list item-list-sm m-b">
      <div class="col-xs-12">
        <div class="item r" data-id="item-7" data-src="http://api.soundcloud.com/tracks/245566366/stream?client_id=a10d44d431ad52868f1bce6d36f5234c">
          <div class="item-media">
            <a href="../Layouts/Home/album.detail.html" class="item-media-content" style="background-image: url('images/b6.jpg');"></a>
          </div>
          <div class="item-info">
            <div class="item-title text-ellipsis">
              <a href="../Layouts/Home/album.detail.html">Reflection (Deluxe)</a>
            </div>
            <div class="item-author text-sm text-ellipsis">
              <a href="artist.detail.html" class="text-muted">Fifth Harmony</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="item r" data-id="item-8" data-src="http://api.soundcloud.com/tracks/236288744/stream?client_id=a10d44d431ad52868f1bce6d36f5234c">
          <div class="item-media">
            <a href="../Layouts/Home/album.detail.html" class="item-media-content" style="background-image: url('images/b7.jpg');"></a>
          </div>
          <div class="item-info">
            <div class="item-title text-ellipsis">
              <a href="../Layouts/Home/album.detail.html">Simple Place To Be</a>
            </div>
            <div class="item-author text-sm text-ellipsis">
              <a href="artist.detail.html" class="text-muted">RYD</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="item r" data-id="item-5" data-src="http://streaming.radionomy.com/JamendoLounge">
          <div class="item-media">
            <a href="../Layouts/Home/album.detail.html" class="item-media-content" style="background-image: url('images/b4.jpg');"></a>
          </div>
          <div class="item-info">
            <div class="item-title text-ellipsis">
              <a href="../Layouts/Home/album.detail.html">Live Radio</a>
            </div>
            <div class="item-author text-sm text-ellipsis">
              <a href="artist.detail.html" class="text-muted">Radionomy</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="item r" data-id="item-2" data-src="http://api.soundcloud.com/tracks/259445397/stream?client_id=a10d44d431ad52868f1bce6d36f5234c">
          <div class="item-media">
            <a href="../Layouts/Home/album.detail.html" class="item-media-content" style="background-image: url('images/b1.jpg');"></a>
          </div>
          <div class="item-info">
            <div class="item-title text-ellipsis">
              <a href="../Layouts/Home/album.detail.html">Fireworks</a>
            </div>
            <div class="item-author text-sm text-ellipsis">
              <a href="artist.detail.html" class="text-muted">Kygo</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="item r" data-id="item-4" data-src="http://api.soundcloud.com/tracks/230791292/stream?client_id=a10d44d431ad52868f1bce6d36f5234c">
          <div class="item-media">
            <a href="../Layouts/Home/album.detail.html" class="item-media-content" style="background-image: url('images/b3.jpg');"></a>
          </div>
          <div class="item-info">
            <div class="item-title text-ellipsis">
              <a href="../Layouts/Home/album.detail.html">What A Time To Be Alive</a>
            </div>
            <div class="item-author text-sm text-ellipsis">
              <a href="artist.detail.html" class="text-muted">Judith Garcia</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h6 class="text text-muted">Go mobile</h6>
    <div class="btn-groups">
      <a href="#" class="btn btn-sm dark lt m-r-xs" style="width: 135px;">
        <span class="pull-left m-r-sm"><i class="fa fa-apple fa-2x"></i></span> <span class="clear text-left l-h-1x"><span class="text-muted text-xxs">Download on the</span> <b class="block m-b-xs">App Store</b></span>
      </a>
      <a href="#" class="btn btn-sm dark lt" style="width: 133px;">
        <span class="pull-left m-r-sm"><i class="fa fa-play fa-2x"></i></span> <span class="clear text-left l-h-1x"><span class="text-muted text-xxs">Get it on</span> <b class="block m-b-xs m-r-xs">Google Play</b></span>
      </a>
    </div>
    <div class="b-b m-y"></div>
    <div class="nav text-sm _600">
      <a href="#" class="nav-link text-muted m-r-xs">About</a>
      <a href="#" class="nav-link text-muted m-r-xs">Contact</a>
      <a href="#" class="nav-link text-muted m-r-xs">Legal</a>
      <a href="#" class="nav-link text-muted m-r-xs">Policy</a>
    </div>
    <p class="text-muted text-xs p-b-lg">&copy; Copyright 2016</p>
  </div>
</div>
</html>
