<!DOCTYPE html>
<html lang="en">
<div class="row item-list item-list-md m-b" th:fragment="recommend(recommends)">
    <div class="col-sm-6">
        <div class="item r" data-id="item-3" data-src="http://api.soundcloud.com/tracks/79031167/stream?client_id=a10d44d431ad52868f1bce6d36f5234c">
            <div class="item-media">
                <a href="track.detail.html" class="item-media-content" style="background-image: url('images/b2.jpg');"></a>
                <div class="item-overlay center">
                    <button class="btn-playpause">Play</button>
                </div>
            </div>
            <div class="item-info">
                <div class="item-overlay bottom text-right">
                    <a href="#" class="btn-favorite"><i class="fa fa-heart-o"></i></a>
                    <a href="#" class="btn-more" data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></a>
                    <div class="dropdown-menu pull-right black lt"></div>
                </div>
                <div class="item-title text-ellipsis">
                    <a href="track.detail.html">I Wanna Be In the Cavalry</a>
                </div>
                <div class="item-author text-sm text-ellipsis">
                    <a href="artist.detail.html" class="text-muted">Jeremy Scott</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="item r" data-id="item-12" data-src="http://api.soundcloud.com/tracks/174495152/stream?client_id=a10d44d431ad52868f1bce6d36f5234c">
            <div class="item-media">
                <a href="track.detail.html" class="item-media-content" style="background-image: url('images/b11.jpg');"></a>
                <div class="item-overlay center">
                    <button class="btn-playpause">Play</button>
                </div>
            </div>
            <div class="item-info">
                <div class="item-overlay bottom text-right">
                    <a href="#" class="btn-favorite"><i class="fa fa-heart-o"></i></a>
                    <a href="#" class="btn-more" data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></a>
                    <div class="dropdown-menu pull-right black lt"></div>
                </div>
                <div class="item-title text-ellipsis">
                    <a href="track.detail.html">Happy ending</a>
                </div>
                <div class="item-author text-sm text-ellipsis">
                    <a href="artist.detail.html" class="text-muted">Postiljonen</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="item r" data-id="item-10" data-src="http://api.soundcloud.com/tracks/237514750/stream?client_id=a10d44d431ad52868f1bce6d36f5234c">
            <div class="item-media">
                <a href="track.detail.html" class="item-media-content" style="background-image: url('images/b9.jpg');"></a>
                <div class="item-overlay center">
                    <button class="btn-playpause">Play</button>
                </div>
            </div>
            <div class="item-info">
                <div class="item-overlay bottom text-right">
                    <a href="#" class="btn-favorite"><i class="fa fa-heart-o"></i></a>
                    <a href="#" class="btn-more" data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></a>
                    <div class="dropdown-menu pull-right black lt"></div>
                </div>
                <div class="item-title text-ellipsis">
                    <a href="track.detail.html">The Open Road</a>
                </div>
                <div class="item-author text-sm text-ellipsis">
                    <a href="artist.detail.html" class="text-muted">Postiljonen</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="item r" data-id="item-6" data-src="http://api.soundcloud.com/tracks/236107824/stream?client_id=a10d44d431ad52868f1bce6d36f5234c">
            <div class="item-media">
                <a href="track.detail.html" class="item-media-content" style="background-image: url('images/b5.jpg');"></a>
                <div class="item-overlay center">
                    <button class="btn-playpause">Play</button>
                </div>
            </div>
            <div class="item-info">
                <div class="item-overlay bottom text-right">
                    <a href="#" class="btn-favorite"><i class="fa fa-heart-o"></i></a>
                    <a href="#" class="btn-more" data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></a>
                    <div class="dropdown-menu pull-right black lt"></div>
                </div>
                <div class="item-title text-ellipsis">
                    <a href="track.detail.html">Body on me</a>
                </div>
                <div class="item-author text-sm text-ellipsis">
                    <a href="artist.detail.html" class="text-muted">Rita Ora</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="item r" data-id="item-4" data-src="http://api.soundcloud.com/tracks/230791292/stream?client_id=a10d44d431ad52868f1bce6d36f5234c">
            <div class="item-media">
                <a href="track.detail.html" class="item-media-content" style="background-image: url('images/b3.jpg');"></a>
                <div class="item-overlay center">
                    <button class="btn-playpause">Play</button>
                </div>
            </div>
            <div class="item-info">
                <div class="item-overlay bottom text-right">
                    <a href="#" class="btn-favorite"><i class="fa fa-heart-o"></i></a>
                    <a href="#" class="btn-more" data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></a>
                    <div class="dropdown-menu pull-right black lt"></div>
                </div>
                <div class="item-title text-ellipsis">
                    <a href="track.detail.html">What A Time To Be Alive</a>
                </div>
                <div class="item-author text-sm text-ellipsis">
                    <a href="artist.detail.html" class="text-muted">Judith Garcia</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="item r" data-id="item-11" data-src="http://api.soundcloud.com/tracks/218060449/stream?client_id=a10d44d431ad52868f1bce6d36f5234c">
            <div class="item-media">
                <a href="track.detail.html" class="item-media-content" style="background-image: url('images/b10.jpg');"></a>
                <div class="item-overlay center">
                    <button class="btn-playpause">Play</button>
                </div>
            </div>
            <div class="item-info">
                <div class="item-overlay bottom text-right">
                    <a href="#" class="btn-favorite"><i class="fa fa-heart-o"></i></a>
                    <a href="#" class="btn-more" data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></a>
                    <div class="dropdown-menu pull-right black lt"></div>
                </div>
                <div class="item-title text-ellipsis">
                    <a href="track.detail.html">Spring</a>
                </div>
                <div class="item-author text-sm text-ellipsis">
                    <a href="artist.detail.html" class="text-muted">Pablo Nouvelle</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="item r" data-id="item-5" data-src="http://streaming.radionomy.com/JamendoLounge">
            <div class="item-media">
                <a href="track.detail.html" class="item-media-content" style="background-image: url('images/b4.jpg');"></a>
                <div class="item-overlay center">
                    <button class="btn-playpause">Play</button>
                </div>
            </div>
            <div class="item-info">
                <div class="item-overlay bottom text-right">
                    <a href="#" class="btn-favorite"><i class="fa fa-heart-o"></i></a>
                    <a href="#" class="btn-more" data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></a>
                    <div class="dropdown-menu pull-right black lt"></div>
                </div>
                <div class="item-title text-ellipsis">
                    <a href="track.detail.html">Live Radio</a>
                </div>
                <div class="item-author text-sm text-ellipsis">
                    <a href="artist.detail.html" class="text-muted">Radionomy</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="item r" data-id="item-8" data-src="http://api.soundcloud.com/tracks/236288744/stream?client_id=a10d44d431ad52868f1bce6d36f5234c">
            <div class="item-media">
                <a href="track.detail.html" class="item-media-content" style="background-image: url('images/b7.jpg');"></a>
                <div class="item-overlay center">
                    <button class="btn-playpause">Play</button>
                </div>
            </div>
            <div class="item-info">
                <div class="item-overlay bottom text-right">
                    <a href="#" class="btn-favorite"><i class="fa fa-heart-o"></i></a>
                    <a href="#" class="btn-more" data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></a>
                    <div class="dropdown-menu pull-right black lt"></div>
                </div>
                <div class="item-title text-ellipsis">
                    <a href="track.detail.html">Simple Place To Be</a>
                </div>
                <div class="item-author text-sm text-ellipsis">
                    <a href="artist.detail.html" class="text-muted">RYD</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="item r" data-id="item-9" data-src="http://api.soundcloud.com/tracks/264094434/stream?client_id=a10d44d431ad52868f1bce6d36f5234c">
            <div class="item-media">
                <a href="track.detail.html" class="item-media-content" style="background-image: url('images/b8.jpg');"></a>
                <div class="item-overlay center">
                    <button class="btn-playpause">Play</button>
                </div>
            </div>
            <div class="item-info">
                <div class="item-overlay bottom text-right">
                    <a href="#" class="btn-favorite"><i class="fa fa-heart-o"></i></a>
                    <a href="#" class="btn-more" data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></a>
                    <div class="dropdown-menu pull-right black lt"></div>
                </div>
                <div class="item-title text-ellipsis">
                    <a href="track.detail.html">All I Need</a>
                </div>
                <div class="item-author text-sm text-ellipsis">
                    <a href="artist.detail.html" class="text-muted">Pablo Nouvelle</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="item r" data-id="item-7" data-src="http://api.soundcloud.com/tracks/245566366/stream?client_id=a10d44d431ad52868f1bce6d36f5234c">
            <div class="item-media">
                <a href="track.detail.html" class="item-media-content" style="background-image: url('images/b6.jpg');"></a>
                <div class="item-overlay center">
                    <button class="btn-playpause">Play</button>
                </div>
            </div>
            <div class="item-info">
                <div class="item-overlay bottom text-right">
                    <a href="#" class="btn-favorite"><i class="fa fa-heart-o"></i></a>
                    <a href="#" class="btn-more" data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></a>
                    <div class="dropdown-menu pull-right black lt"></div>
                </div>
                <div class="item-title text-ellipsis">
                    <a href="track.detail.html">Reflection (Deluxe)</a>
                </div>
                <div class="item-author text-sm text-ellipsis">
                    <a href="artist.detail.html" class="text-muted">Fifth Harmony</a>
                </div>
            </div>
        </div>
    </div>
</div>
</html>
