<!DOCTYPE html>
<html lang="en">
<div th:fragment="search_modal" class="modal white lt fade" id="search-modal" data-backdrop="false">
    <a data-dismiss="modal" class="text-muted text-lg p-x modal-close-btn">&times;</a>
    <div class="row-col">
        <div class="p-a-lg h-v row-cell v-m">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <form action="https://flatfull.com/themes/pulse/search.html" class="m-b-md">
                        <div class="input-group input-group-lg">
                            <input type="text" class="form-control search-text" placeholder="Type keyword" data-ui-toggle-class="hide" data-ui-target="#search-result" />
                            <span class="input-group-btn">
                                <button class="btn b-a no-shadow white" type="submit">
                                    Search
                                </button>
                            </span>
                        </div>
                    </form>
                    <div id="search-result" class="animated fadeIn">
                        <p class="m-b-md">
                            <strong id="search-count"></strong>
                            <span class="text-muted">Results found for:</span><strong id="search-keyword"></strong>
                        </p>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="row item-list item-list-sm item-list-by m-b" id="search-result-value">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row item-list item-list-sm item-list-by m-b">
                                    <div class="col-xs-12">
                                        <div class="item">
                                            <div class="item-media rounded">
                                                <a href="artist.detail.html" class="item-media-content" style="background-image: url('images/a8.jpg');"></a>
                                            </div>
                                            <div class="item-info">
                                                <div class="item-title text-ellipsis">
                                                    <a href="artist.detail.html">Sara King</a>
                                                    <div class="text-sm text-muted">14 songs</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="item">
                                            <div class="item-media rounded">
                                                <a href="artist.detail.html" class="item-media-content" style="background-image: url('images/a0.jpg');"></a>
                                            </div>
                                            <div class="item-info">
                                                <div class="item-title text-ellipsis">
                                                    <a href="artist.detail.html">Crystal Guerrero</a>
                                                    <div class="text-sm text-muted">12 songs</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="item">
                                            <div class="item-media rounded">
                                                <a href="artist.detail.html" class="item-media-content" style="background-image: url('images/a5.jpg');"></a>
                                            </div>
                                            <div class="item-info">
                                                <div class="item-title text-ellipsis">
                                                    <a href="artist.detail.html">Judy Woods</a>
                                                    <div class="text-sm text-muted">23 songs</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="item">
                                            <div class="item-media rounded">
                                                <a href="artist.detail.html" class="item-media-content" style="background-image: url('images/b0.jpg');"></a>
                                            </div>
                                            <div class="item-info">
                                                <div class="item-title text-ellipsis">
                                                    <a href="artist.detail.html">Jeremy Scott</a>
                                                    <div class="text-sm text-muted">14 songs</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>