<!DOCTYPE html>
<html lang="en">
<div th:fragment="search_modal" class="modal white lt fade" id="search-modal" data-backdrop="false">
    <a data-dismiss="modal" class="text-muted text-lg p-x modal-close-btn">&times;</a>
    <div class="row-col">
        <div class="p-a-lg h-v row-cell v-m">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <form action="https://flatfull.com/themes/pulse/search.html" class="m-b-md">
                        <div class="input-group input-group-lg">
                            <input type="text" class="form-control" placeholder="Type keyword" data-ui-toggle-class="hide" data-ui-target="#search-result" />
                            <span class="input-group-btn">
                                <button class="btn b-a no-shadow white" type="submit">
                                    Search
                                </button>
                            </span>
                        </div>
                    </form>
                    <div id="search-result" class="animated fadeIn">
                        <p class="m-b-md">
                            <strong>23</strong>
                            <span class="text-muted">Results found for:</span><strong>Keyword</strong>
                        </p>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="row item-list item-list-sm item-list-by m-b">
                                    <div class="col-xs-12">
                                        <div class="item r" data-id="item-5" data-src="http://streaming.radionomy.com/JamendoLounge">
                                            <div class="item-media">
                                                <a href="track.detail.html" class="item-media-content" style="background-image: url('images/b4.jpg');"></a>
                                            </div>
                                            <div class="item-info">
                                                <div class="item-title text-ellipsis">
                                                    <a href="track.detail.html">Live Radio</a>
                                                </div>
                                                <div class="item-author text-sm text-ellipsis">
                                                    <a href="artist.detail.html" class="text-muted">Radionomy</a>
                                                </div>
                                                <div class="item-meta text-sm text-muted"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="item r" data-id="item-2" data-src="http://api.soundcloud.com/tracks/259445397/stream?client_id=a10d44d431ad52868f1bce6d36f5234c">
                                            <div class="item-media">
                                                <a href="track.detail.html" class="item-media-content" style="background-image: url('images/b1.jpg');"></a>
                                            </div>
                                            <div class="item-info">
                                                <div class="item-title text-ellipsis">
                                                    <a href="track.detail.html">Fireworks</a>
                                                </div>
                                                <div class="item-author text-sm text-ellipsis">
                                                    <a href="artist.detail.html" class="text-muted">Kygo</a>
                                                </div>
                                                <div class="item-meta text-sm text-muted"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="item r" data-id="item-4" data-src="http://api.soundcloud.com/tracks/230791292/stream?client_id=a10d44d431ad52868f1bce6d36f5234c">
                                            <div class="item-media">
                                                <a href="track.detail.html" class="item-media-content" style="background-image: url('images/b3.jpg');"></a>
                                            </div>
                                            <div class="item-info">
                                                <div class="item-title text-ellipsis">
                                                    <a href="track.detail.html">What A Time To Be Alive</a>
                                                </div>
                                                <div class="item-author text-sm text-ellipsis">
                                                    <a href="artist.detail.html" class="text-muted">Judith Garcia</a>
                                                </div>
                                                <div class="item-meta text-sm text-muted"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="item r" data-id="item-7" data-src="http://api.soundcloud.com/tracks/245566366/stream?client_id=a10d44d431ad52868f1bce6d36f5234c">
                                            <div class="item-media">
                                                <a href="track.detail.html" class="item-media-content" style="background-image: url('images/b6.jpg');"></a>
                                            </div>
                                            <div class="item-info">
                                                <div class="item-title text-ellipsis">
                                                    <a href="track.detail.html">Reflection (Deluxe)</a>
                                                </div>
                                                <div class="item-author text-sm text-ellipsis">
                                                    <a href="artist.detail.html" class="text-muted">Fifth Harmony</a>
                                                </div>
                                                <div class="item-meta text-sm text-muted"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row item-list item-list-sm item-list-by m-b">
                                    <div class="col-xs-12">
                                        <div class="item">
                                            <div class="item-media rounded">
                                                <a href="artist.detail.html" class="item-media-content" style="background-image: url('images/a8.jpg');"></a>
                                            </div>
                                            <div class="item-info">
                                                <div class="item-title text-ellipsis">
                                                    <a href="artist.detail.html">Sara King</a>
                                                    <div class="text-sm text-muted">14 songs</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="item">
                                            <div class="item-media rounded">
                                                <a href="artist.detail.html" class="item-media-content" style="background-image: url('images/a0.jpg');"></a>
                                            </div>
                                            <div class="item-info">
                                                <div class="item-title text-ellipsis">
                                                    <a href="artist.detail.html">Crystal Guerrero</a>
                                                    <div class="text-sm text-muted">12 songs</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="item">
                                            <div class="item-media rounded">
                                                <a href="artist.detail.html" class="item-media-content" style="background-image: url('images/a5.jpg');"></a>
                                            </div>
                                            <div class="item-info">
                                                <div class="item-title text-ellipsis">
                                                    <a href="artist.detail.html">Judy Woods</a>
                                                    <div class="text-sm text-muted">23 songs</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="item">
                                            <div class="item-media rounded">
                                                <a href="artist.detail.html" class="item-media-content" style="background-image: url('images/b0.jpg');"></a>
                                            </div>
                                            <div class="item-info">
                                                <div class="item-title text-ellipsis">
                                                    <a href="artist.detail.html">Jeremy Scott</a>
                                                    <div class="text-sm text-muted">14 songs</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="top-search" class="btn-groups">
                        <strong class="text-muted">Top searches:</strong>
                        <a href="#" class="btn btn-xs white">Happy</a>
                        <a href="#" class="btn btn-xs white">Music</a>
                        <a href="#" class="btn btn-xs white">Weekend</a>
                        <a href="#" class="btn btn-xs white">Summer</a>
                        <a href="#" class="btn btn-xs white">Holiday</a>
                        <a href="#" class="btn btn-xs white">Blue</a>
                        <a href="#" class="btn btn-xs white">Soul</a>
                        <a href="#" class="btn btn-xs white">Calm</a>
                        <a href="#" class="btn btn-xs white">Nice</a>
                        <a href="#" class="btn btn-xs white">Home</a>
                        <a href="#" class="btn btn-xs white">SLeep</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>