<!DOCTYPE html>
<html lang="en">
<div id="switcher" th:fragment="switcher">
    <div class="switcher white" id="sw-theme">
        <a href="#" data-ui-toggle-class="active" data-ui-target="#sw-theme" class="white sw-btn"><i class="fa fa-gear text-muted"></i></a>
        <div class="box-header">
            <strong>Theme Switcher</strong>
        </div>
        <div class="box-divider"></div>
        <div class="box-body">
            <p id="settingLayout" class="hidden-md-down">
                <label class="md-check m-y-xs" data-target="container"><input type="checkbox" /> <i class="green"></i> <span>Boxed Layout</span></label>
            </p>
            <p>Themes:</p>
            <div data-target="bg" class="text-u-c text-center _600 clearfix">
                <label class="p-a col-xs-3 light pointer m-a-0"><input type="radio" name="theme" value hidden /> <i class="active-checked fa fa-check"></i></label>
                <label class="p-a col-xs-3 grey pointer m-a-0"><input type="radio" name="theme" value="grey" hidden /> <i class="active-checked fa fa-check"></i></label>
                <label class="p-a col-xs-3 dark pointer m-a-0"><input type="radio" name="theme" value="dark" hidden /> <i class="active-checked fa fa-check"></i></label>
                <label class="p-a col-xs-3 black pointer m-a-0"><input type="radio" name="theme" value="black" hidden /> <i class="active-checked fa fa-check"></i></label>
            </div>
        </div>
    </div>
</div>
</html>