<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="~{Fragments/head :: head(Pluse)}">
    <meta charset="UTF-8" />
    <title>Layout</title>
</head>
<body>
<div class="app dk" id="app">
    <div id="content" class="app-content white bg box-shadow-z2" role="main">
        <div th:replace="~{/Fragments/header.html :: header_user}"></div>
        <div th:replace="~{/Fragments/footer.html :: footer_user}"></div>
        <div class="app-body" id="view">
            <div class="page-content" layout:fragment="content">
                <!--Write layout here-->
            </div>
        </div>
        <div th:replace="~{/Fragments/switcher.html :: switcher}"></div>
        <div th:replace="~{/Fragments/search_modal.html :: search_modal}"></div>
        <div th:replace="~{/Fragments/share_modal.html :: share_modal}"></div>
    </div>
</div>
<script th:src="@{/scripts/app.min.js}"></script>
</body>
</html>
